<div class="bg-gray-200 p-4 rounded-lg shadow mb-4">
  <div class="text-sm text-center text-gray-700">
    <%= turbo_frame_tag :preview do %>
      <p>Textual magic loading... Preview to enchant shortly.</p>
    <% end %>
  </div>
</div>
