<div class="w-full max-w-md px-4">
  <%= render "parser/preview_block" %>

  <div class="bg-white p-4 rounded-lg shadow">
    <div data-controller="character-counter">

      <%= form_with data: { controller: "live-elements" } do |form| %>
        <%= form.text_area :content, maxlength: 1000, autofocus: true, class: "w-full px-3 py-2 border border-blue-500 rounded focus:outline-none focus:border-blue-700",
          data: { character_counter_target: 'input', action: { input: preview_path } } %>

        <p class="text-xs text-gray-600 mt-2 text-right">
          <span data-character-counter-target="output">0</span>
        </p>

        <div class="p-4 text-center">
          <%= form.date_field :date, class: 'border border-blue-500 rounded focus:outline-none focus:border-blue-700',
            data: { action: { input: preview_path } } %>
        </div>
      </div>
    <% end %>
  </div>

  <br />

  <div class="bg-white p-4 rounded-lg shadow mt-4 text-sm">
    <ul class="list-disc pl-5 space-y-1 text-gray-700">
      <li><strong>#d#</strong> - day of the given reference date</li>
      <li><strong>#m#</strong> - month number of the given reference date</li>
      <li><strong>#y#</strong> - full year of the given reference date (e.g., 2021)</li>
    </ul>
    <p class="mt-2 text-gray-700">
      You can add or subtract numbers from these variables to adjust the date in the text line relative to the given reference date.
    </p>
    <p class="mt-2 text-gray-700">
      <strong>Example:</strong> If the reference date is March 1, 2021, and the text format is <code>#d-1#. #m+1#. #y+1#</code>, the resulting date will be March 31, 2022 as 31. 03. 2022.
    </p>
  </div>
</div>
